@import "tailwindcss";
/*table {
    border-left: 1px solid  oklch(86.9% 0.022 252.894);
}
thead th {
  background-color: white;
  border-top: 1px solid oklch(86.9% 0.022 252.894);
}

th,
td {
  border-right: 1px solid oklch(86.9% 0.022 252.894);
  border-bottom: 1px solid oklch(86.9% 0.022 252.894);
}
*/